/* alimobstyle.message 样式模块 */

.ali-message {
    position: relative;
    margin: 8px 0;
    padding: 8px 8px 8px 38px;
    color: #333;
}
.ali-message-noicon{
    padding-left: 8px;
}
.ali-message-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    z-index: 1;
    margin-top: -12px;
}
.ali-message-icon:after {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 999;
    content: "\0020";
    background-repeat: no-repeat;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.ali-message-icon:after,
.ali-sd .ali-message-icon:after,
.ali-hd .ali-message-icon:after {
    background-image: url(https://i.alipayobjects.com/e/201402/26AKVpoohh.png);
    background-size: 320px auto;
}

.ali-message-info .ali-message-icon:after {
    border: 2px solid #47bee9;
    background-position: -1px -2px;
}
.ali-message-warn .ali-message-icon:after {
    border: 2px solid #ff8634;
    background-position: -1px -25px;
}
.ali-message-success .ali-message-icon:after {
    border: 2px solid #a3d461;
    background-position: -1px -47px;
}
.ali-message-error .ali-message-icon:after {
    border: 2px solid #c1c1c1;
    background-position: -1px -70px;
}

.ali-message p{
    font-size: 18px;
}

.ali-message-form {
    border: 1px solid #bfbfbf;
    background-color: #ffffe1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .ali-message-icon, .ali-hd .ali-message-icon:after {
        background-image: url(https://i.alipayobjects.com/e/201402/26AKVpoohh.png);
    }
}